/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Raleway", "Raleway Bold", sans-serif; */
}

html {
  width: 100%;
}

::-webkit-scrollbar {
  color: black;
}

/* ul li {
  list-style-type: square;
} */

.hero {
  background-image: url("https://res.cloudinary.com/drevpwd0d/image/upload/v1636726024/WHIPLEY_glass_box_final_cajwc0.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
}

.sarah-main-img {
  background-image: url("https://res.cloudinary.com/drevpwd0d/image/upload/v1639128074/Sarah_photo_b_w_w5xzx4.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: contain;
  height: 100%;
  width: 100%;
  /* margin: auto; */
}

.sarah-headshot {
  background-image: url("https://res.cloudinary.com/drevpwd0d/image/upload/v1636726023/sarah_headshot_2_zf3rvl.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.text-img {
  background-image: url("https://res.cloudinary.com/drevpwd0d/image/upload/v1636720773/wildlife_area_sunflowers_FINAL_z1r5kj.jpg");
  background-size: cover;
  background-position: center center;
  object-fit: contain;
  height: auto;
  width: 100%;
}

li {
  list-style-type: disc;
}

.arch-img {
  background-image: url("https://res.cloudinary.com/drevpwd0d/image/upload/BRM013_final_kdibi5.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

/* .perm-img-2 {
  background-image: url("https://res.cloudinary.com/drevpwd0d/image/upload/MG_7993_xfcxgu");
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
} */
