/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  margin: auto 0;
  /* font-family: "Raleway", "Raleway Bold", sans-serif; */
}

ul li {
  list-style-type: square;
}

.hero {
  background-image: url("https://res.cloudinary.com/drevpwd0d/image/upload/v1636726024/WHIPLEY_glass_box_final_cajwc0.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center center;
  height: 400px;
  width: 100%;
}

.sarah-main-img {
  background-image: url("https://res.cloudinary.com/drevpwd0d/image/upload/v1639128074/Sarah_photo_b_w_w5xzx4.jpg");
  background-size: cover;
  background-position: center center;
  object-fit: contain;
  height: 100%;
  width: 100%;
  /* margin: auto; */
}

.text-img {
  background-image: url("https://res.cloudinary.com/drevpwd0d/image/upload/v1636720773/wildlife_area_sunflowers_FINAL_z1r5kj.jpg");
  background-size: cover;
  background-position: center center;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

/* .main-home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 20px;
  flex-direction: column;
}

.main-grid {
  display: flex;
  flex-direction: column;
}

.text-img {
  height: 200px;
  width: 100%;
  text-align: center;
} */
