/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  margin: auto 0;
}

ul li {
  list-style-type: square;
}

.hero {
  background-color: darkgray;
  /* background-image: url("https://res.cloudinary.com/drevpwd0d/image/upload/v1634463248/edible_garden_design_Kensington_copy_st1lw1.jpg"); */
  background-size: cover;
  opacity: 1;
  height: 300px;
  width: 100%;
}
